# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
**/.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/
!.vscode/settings.json

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
build/
**/build/
.flutter-plugins
.flutter-plugins-dependencies

# Android / iOS / Native artifacts
local.properties
**/local.properties
*.jks
*.keystore
key.properties
**/Pods/
**/.symlinks/

# Agent runtime cache
.agent/
